@use './variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin icon($image, $color) {
  background-color: #fff;
  background-image: url($image);
  background-position: center;
  background-repeat: no-repeat;
  border-color: $color;
  box-shadow: inset 0px 5px 6px grey,
    0px 8px darken($color, 15%);

}

@mixin bigShadow($color) {
  box-shadow: inset 0px 5px 6px grey,
    0px 8px darken($color, 15%),
    0px 0px 0px 25px rgba(#ffffff, .07),
    0px 0px 0px 50px rgba(#ffffff, .05),
    0px 0px 0px 100px rgba(#ffffff, .025), ;

  @include tablet {
    box-shadow: inset 0px 5px 6px grey,
      0px 8px darken($color, 15%),
      0px 0px 0px 35px rgba(#ffffff, .07),
      0px 0px 0px 60px rgba(#ffffff, .05),
      0px 0px 0px 110px rgba(#ffffff, .025), ;
  }

  @include desktop {
    box-shadow: inset 0px 5px 6px grey,
      0px 8px darken($color, 15%),
      0px 0px 0px 50px rgba(#ffffff, .07),
      0px 0px 0px 75px rgba(#ffffff, .05),
      0px 0px 0px 125px rgba(#ffffff, .025), ;
  }
}

@mixin result-container {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  @include tablet {
    margin-bottom: 10.5rem;
  }

  @include desktop() {
    margin-bottom: 14rem;
  }
}

@mixin icon-style {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  border-color: transparent;
  border: 1.4rem solid;
  background-size: 50%;

  @include tablet {
    height: 16rem;
    width: 16rem;
  }

  @include desktop {
    border: 2rem solid;
    height: 20rem;
    width: 20rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}

@mixin page-format {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 33.7rem;

  @include tablet {
    width: 50rem;
  }

  @include desktop {
    width: 100rem;
  }
}