$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$color-background: radial-gradient(#1f3756, #141539);

$color-paper: #5671f5;
$color-rock: #dc2e4e;
$color-scissors: #ec9e0e;
$color-lizard: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$color-cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

$color-dark-text: hsl(229, 25%, 31%);
$color-score-text: hsl(229, 64%, 46%);
$color-header-outline: hsl(217, 16%, 45%);

$iconPaper: '../../assets/images/icon-paper.svg';
$iconRock: '../../assets/images/icon-rock.svg';
$iconScissors: '../../assets/images/icon-scissors.svg';