@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.result {
  @include page-format;
  gap: 0 4.7rem;

  @include tablet {
    gap: 0 12rem;
  }

  @include desktop {
    gap: 0 24rem;
  }

  &__player-container {
    @include result-container;
  }

  &__house {
    @include result-container;
  }

  &__title {
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 3rem;

    @include tablet {
      font-size: 1.8rem;
    }
  }

  &__icon {
    @include icon-style;

    &--paper {
      @include icon($iconPaper, $color-paper);

      &--winner {
        @include bigShadow($color-paper);
      }
    }

    &--scissors {
      @include icon($iconScissors, $color-scissors);

      &--winner {
        @include bigShadow($color-scissors);
      }
    }

    &--rock {
      @include icon($iconRock, $color-rock);

      &--winner {
        @include bigShadow($color-rock);
      }
    }
  }

  &__counter {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    background-color: rgba($color: #000000, $alpha: .3);
    font-size: 8rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      height: 16rem;
      width: 16rem;
    }

    @include tablet {
      height: 20rem;
      width: 20rem;
    }
  }

  &__play {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__spacer {
    height: 6rem;
  }

  &__text {
    color: white;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__play-again {
    background-color: white;
    width: fit-content;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $color-dark-text;
    font-weight: 600;
    padding: 1.6rem 6rem;
    border-radius: 6px;

    @include tablet {
      font-size: 1.8rem;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}