@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;

  @include desktop {
    left: center;
  }
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  padding: 8rem 5% 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    width: 60vh;
    height: 50vh;
    padding: 3rem;
    margin: 13% auto;
    border-radius: 10px;
    // flex-direction: row;
    // align-items: flex-start;
  }

  &__title {
    font-size: 3rem;
    color: $color-dark-text;
    margin: 0;

    @include tablet {
      font-size: 5rem;
    }

    @include desktop {
      align-self: flex-start;
    }
  }

  &__image {
    @include tablet {
      width: 70%;
    }

    @include desktop {
      width: 70%;
      // align-self: flex-end;
    }
  }

  &__close {
    font-size: 6rem;

    @include tablet {
      font-size: 10rem;
    }

    @include desktop {
      font-size: 6rem;
      position: absolute;
      top: 3rem;
      right: 3rem;
    }
  }
}

.modal-header {
  display: flex;
  justify-content: center;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}