@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.gameboard {
  @include page-format;
  gap: 2rem 5rem;
  background-image: url('../../assets/images/bg-triangle.svg');
  background-position: 50% 85%;
  background-size: 70%;
  background-repeat: no-repeat;
  margin-bottom: 9rem;

  @include tablet {
    gap: 6rem 12rem;
  }

  @include desktop {
    background-size: 41%;
    gap: 6rem 24rem;
  }

  &__icon {
    @include icon-style;

    &--paper {
      @include icon($iconPaper, $color-paper);
    }

    &--scissors {
      @include icon($iconScissors, $color-scissors);
    }

    &--rock {
      @include icon($iconRock, $color-rock);
    }
  }
}