@use './styles/partials/variables' as *;
@use './styles/partials/fonts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: $color-background;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}